.graph {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin : 10px;
    margin-bottom: 20px;
}

.firstrow {
    display : flex;
    justify-content: space-evenly;

}

.caption {
caption-side:top;
text-align: center;
}