<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/cssFiles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../static/cssFiles/tips.css' %}">

    <title>Predictions</title>
</head>

{% load static %}



<div id = "header">
    <h1 class= "start">Predictions of prices and stock</h1>
</div>



<div id = "blockListTips">

    <h2 class = "start">List Of Tips</h2>
    
    <img src="{% static '../static/images/separator.png' %}" >

    <p class = "tip">#tip1</p>
    <p class = "tip">#tip2</p>
    <p class = "tip">#tip3</p>


</div>